﻿@{ Layout = "~/Views/Shared/_LA.cshtml";}
<div id="content">
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
               <li>Home</li> <li class="active">Registered Users</li>
            </ol>
        </div>
        <div class="section-body contain-lg">
            <!-- BEGIN DEFAULT TABLE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <section class="style-default-bright">
                                <div class="section-body">
                                    <h2 class="text-primary">Registered Users</h2>
                                    <p>
                                        Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.
                                    </p>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Username</th>
                                                <th>Email</th>
                                                <th>Contact No</th>
                                                <th class="text-right">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><img class="img-circle width-1" src="/content/admin/img/avatar2.jpg?1404026449" alt="" /></td>
                                                <td>Abbey</td>
                                                <td>Johnson</td>
                                                <td>Fuisset delicatissimi duo, qui ut animal noluisse erroribus.</td>
                                                <td class="text-right">
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="fa fa-copy"></i></button>
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><img class="img-circle width-1" src="/content/admin/img/avatar4.jpg?1404026791" alt="" /></td>
                                                <td>Alex</td>
                                                <td>Nelson</td>
                                                <td>Ea eum veniam audire. Dicant vituperata consequuntur.</td>
                                                <td class="text-right">
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="fa fa-copy"></i></button>
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><img class="img-circle width-1" src="/content/admin/img/avatar11.jpg?1404026774" alt="" /></td>
                                                <td>Mary</td>
                                                <td>Peterson</td>
                                                <td>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren.</td>
                                                <td class="text-right">
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="fa fa-copy"></i></button>
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!--end .section-body -->
                            </section>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                    <em class="text-caption">Default table</em>
                </div><!--end .col -->
            </div><!--end .row -->
        </div><!--end .section-body -->
    </section>
</div>