﻿@{
    ViewBag.Title = "Home Page";
}

<!-- start hero-header -->
<div class="hero" style="background-image:url('/content/images/hero-header/01.jpg');">
    <div class="container">
        <h1>your future starts here now</h1>
        <p>Finding your next job or career more 1000+ availabilities</p>
        <div class="main-search-form-wrapper">
            <form>
                <div class="form-holder">
                    <div class="row gap-0">
                        <div class="col-xss-6 col-xs-6 col-sm-6">
                            <input class="form-control" placeholder="Looking for job" />
                        </div>
                        <div class="col-xss-6 col-xs-6 col-sm-6">
                            <input class="form-control" placeholder="Place to work" />
                        </div>
                    </div>
                </div>
                <div class="btn-holder">
                    <button class="btn"><i class="ion-android-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end hero-header -->

<div class="post-hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="ticker-wrapper">
                    <div class="latest-job-ticker ticker-inner">
                        <ul class="ticker-list">
                            <li>
                                <a href="#">
                                    <span class="labeling">Latest Job</span>
                                    Senoir software engineering at Amanbory Comnay Ltd., <span class="font-italic">38 minutes ago</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="labeling">Latest Job</span>
                                    Financial Section Manager at Ribbon Center Co.,Ltd. <span class="font-italic">56 minures ago</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="labeling">Latest Job</span>
                                    Electronics Technical Engineer at Planing Global Ltd. <span class="font-italic"> 3 hours ago</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="labeling">Latest Job</span>
                                    Knowledge Transfer Officer at GreenLand Group Ltd. <span class="font-italic"> 5 hours ago</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="labeling">Latest Job</span>
                                    Senior Telemarketing Executive at Barntorn Network Ltd.<span class="font-italic">12 hours ago</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pt-80 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="section-title">
                    <h2>Find jobs by category</h2>
                </div>

            </div>

        </div>

        <div class="category-group-wrapper">

            <div class="GridLex-gap-30 no-mb">

                <div class="GridLex-grid-noGutter-equalHeight">

                    <div class="GridLex-col-4_sm-6_xs-12_xss-12">

                        <div class="category-group">

                            <div class="icon">
                                <i class="flaticon-streamline-outline-computer"></i>
                            </div>

                            <h5>Computer &amp; IT</h5>
                            <p>Or kind rest bred with am shed then.</p>
                            <p class="sub-category">
                                <a href="#">Andriod</a>
                                <a href="#">Web</a>
                                <a href="#">Networking</a>
                                <a href="#">Programming</a>
                                <a href="#">More</a>
                            </p>

                        </div>

                    </div>

                    <div class="GridLex-col-4_sm-6_xs-12_xss-12">

                        <div class="category-group">

                            <div class="icon">
                                <i class="flaticon-streamline-outline-crop"></i>
                            </div>

                            <h5>Engineering</h5>
                            <p>In raptures building an bringing be.</p>
                            <p class="sub-category">
                                <a href="#">Process Engineer</a>
                                <a href="#">Quality Engineer</a>
                                <a href="#">Design Engineer</a>
                                <a href="#">Civil Engineer</a>
                                <a href="#">More</a>
                            </p>

                        </div>

                    </div>

                    <div class="GridLex-col-4_sm-6_xs-12_xss-12">

                        <div class="category-group">

                            <div class="icon">
                                <i class="flaticon-streamline-outline-heart"></i>
                            </div>

                            <h5>Customer Service</h5>
                            <p>Elderly is detract tedious assured private.</p>
                            <p class="sub-category">
                                <a href="#">Secretary</a>
                                <a href="#">Stocker</a>
                                <a href="#">Personal Banker</a>
                                <a href="#">Deli Associate</a>
                                <a href="#">More</a>
                            </p>

                        </div>

                    </div>

                    <div class="GridLex-col-4_sm-6_xs-12_xss-12">

                        <div class="category-group">

                            <div class="icon">
                                <i class="flaticon-streamline-outline-remote-control-and-screen"></i>
                            </div>

                            <h5>Marketing</h5>
                            <p>Travelling companions contrasted it.</p>
                            <p class="sub-category">
                                <a href="#">Account Manager</a>
                                <a href="#">Merchandiser</a>
                                <a href="#">Product Manager</a>
                                <a href="#">Online Marketing</a>
                                <a href="#">More</a>
                            </p>

                        </div>

                    </div>

                    <div class="GridLex-col-4_sm-6_xs-12_xss-12">

                        <div class="category-group">

                            <div class="icon">
                                <i class="flaticon-streamline-outline-settings"></i>
                            </div>

                            <h5>Operations</h5>
                            <p>Mistress strongly remember up to.</p>
                            <p class="sub-category">
                                <a href="#">Administrator</a>
                                <a href="#">Building Operator</a>
                                <a href="#">Senior Supervisor</a>
                                <a href="#">Director Manager</a>
                                <a href="#">More</a>
                            </p>

                        </div>

                    </div>

                    <div class="GridLex-col-4_sm-6_xs-12_xss-12">

                        <div class="category-group">

                            <div class="icon">
                                <i class="flaticon-streamline-outline-shield-with-cross"></i>
                            </div>

                            <h5>Insurance</h5>
                            <p>Ham him compass you proceed calling detract.</p>
                            <p class="sub-category">
                                <a href="#">Actuarial Analyst</a>
                                <a href="#">Appraiser</a>
                                <a href="#">Claims Examiner</a>
                                <a href="#">Insurance Advisor</a>
                                <a href="#">More</a>
                            </p>

                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="clear"></div>
        <div class="text-center mb-30">
            <a href="#" class="btn btn-lg btn-primary">Browse All Categories</a>
        </div>
    </div>
</div>






@section scripts{
    <script type="text/javascript" src="@Url.Content("~/js/account/register.js")?v=@DateTime.Now.Ticks"></script>
}