﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Material Admin - Login</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="/content/admin/css/theme-2/bootstrap.css?1422792965" />
    <link type="text/css" rel="stylesheet" href="/content/admin/css/theme-2/materialadmin.css?1425466319" />
    <link type="text/css" rel="stylesheet" href="/content/admin/css/theme-2/font-awesome.min.css?1422529194" />
    <link type="text/css" rel="stylesheet" href="/content/admin/css/theme-2/material-design-iconic-font.min.css?1421434286" />
    <link href="@Url.Content("~/Content/admin/css/theme-1/libs/toastr/toastr.css")" rel="stylesheet" />
    <!-- END STYLESHEETS -->
    <style type="text/css">
        body {
            background: #fff;
        }

        .img-backdrop {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-size: auto !important;
            background-position: center;
        }
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/content/admin/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="/content/admin/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
    <script>
        var baseURL = '@System.Configuration.ConfigurationManager.AppSettings["ApiUrl"]';
        var remoteURL = '@System.Configuration.ConfigurationManager.AppSettings["RemoteApiUrl"]';
    </script>
</head>
<body class="menubar-hoverable header-fixed ">

    <!-- BEGIN LOGIN SECTION -->
    <section class="section-account">
        <div class="img-backdrop" style="background-image: url('/content/images/connect-smart-192x192.png')"></div>
        <div class="spacer"></div>
        <div class="card contain-sm style-transparent">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <br />
                        <h2 class="text-primary text-center">Connect Smart Central</h2>
                        <br /><br />
                        <form id="loginform" class="form floating-label" accept-charset="utf-8" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="UserName" name="UserName" required>
                                <label for="username">Username</label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="Password" name="Password" required>
                                <label for="password">Password</label>
                                <p class="help-block"><a href="#">Forgotten?</a></p>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <div class="checkbox checkbox-inline checkbox-styled">
                                        <label>
                                            <input type="checkbox"> <span>Remember me</span>
                                        </label>
                                    </div>
                                </div><!--end .col -->
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-primary btn-raised" type="submit">Login</button>
                                </div><!--end .col -->
                            </div><!--end .row -->
                        </form>
                    </div><!--end .col -->
                </div><!--end .row -->
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
    <!-- END LOGIN SECTION -->
    <!-- BEGIN JAVASCRIPT -->
    <script src="/content/admin/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="/content/admin/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/content/admin/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/content/admin/js/libs/spin.js/spin.min.js"></script>
    <script src="/content/admin/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="/content/admin/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="/content/admin/js/core/source/App.js"></script>
    <script src="/content/admin/js/core/source/AppNavigation.js"></script>
    <script src="/content/admin/js/core/source/AppOffcanvas.js"></script>
    <script src="/content/admin/js/core/source/AppCard.js"></script>
    <script src="/content/admin/js/core/source/AppForm.js"></script>
    <script src="/content/admin/js/core/source/AppNavSearch.js"></script>
    <script src="/content/admin/js/core/source/AppVendor.js"></script>
    <script src="/content/admin/js/core/demo/Demo.js"></script>
    <!-- END JAVASCRIPT -->
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script src="@Url.Content("~/js/common.js")"></script>
    <script src="@Url.Content("~/js/login.js")?@DateTime.Now.Ticks"></script>
</body>
</html>
