﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LA.cshtml";
}

<div id="content">
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
                <li>Home</li>
                <li class="active">Free Resources</li>
            </ol>
        </div>
        <div class="section-body contain-lg">
            <!-- BEGIN DEFAULT TABLE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-underline">
                        <div class="card-head">
                            <header class="text-default-dark">Free Resources</header>
                            <div class="tools">
                                <div class="btn-group">
                                    <div class="btn-group">
                                    </div>
                                    <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                                    <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                    <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="free-resource-title" class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="Title" class="col-sm-2 control-label">Resource Title</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="Title" name="Title"
                                                       placeholder="Resource Title" required>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-sm btn-info">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">&nbsp;</div>
                            </div>
                            <div class="table-responsive">
                                <table id="list-resources" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Resource Title</th>
                                            <th class="text-right">Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .col -->
            </div><!--end .row -->
        </div><!--end .section-body -->
    </section>
</div>

@Html.Partial("_links")
@section scripts{
    <script src="@Url.Content("~/js/freeres/addView.js")?@DateTime.Now.Ticks"></script>
    <script>
        $(document).ready(function () {
            $("#sectionName").html("Smart Learning");
        });
    </script>
}

