﻿
@{
    ViewBag.Title = "ResourceLinks";
    Layout = "~/Views/Shared/_LA.cshtml";
}

<div id="content">
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
                <li>Home</li>
                <li class="active">Free Resources</li>
            </ol>
        </div>
        <div class="section-body contain-lg">
            <!-- BEGIN DEFAULT TABLE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-underline">
                        <div class="card-head">
                            <header class="text-default-dark">Free Resources</header>
                            <div class="tools">
                                <div class="btn-group">
                                    <div class="btn-group">
                                    </div>
                                    <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                                    <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                    <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="list-links" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Link Title</th>
                                            <th>Link URL</th>
                                            <th>Doc Type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .col -->
            </div><!--end .row -->
        </div><!--end .section-body -->
    </section>
</div>

@Html.Partial("_links")
@section scripts{
    <script src="@Url.Content("~/js/freeres/links.js")?@DateTime.Now.Ticks"></script>
}
