﻿<!-- BEGIN JAVASCRIPT -->
<script src="/content/admin/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="/content/admin/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/content/admin/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/content/admin/js/libs/spin.js/spin.min.js"></script>
<script src="/content/admin/js/libs/autosize/jquery.autosize.min.js"></script>
<script src="@Url.Content("~/Content/admin/js/libs/moment/moment.min.js")"></script>
<script src="@Url.Content("~/content/admin/js/libs/DataTables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/content/admin/js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js")"></script>
<script src="@Url.Content("~/content/admin/js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js")"></script>

<script src="/content/admin/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="/content/admin/js/core/source/App.js"></script>
<script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
<script src="@Url.Content("~/js/common.js")"></script>
<script src="/content/admin/js/core/source/App.js"></script>
<script src="/content/admin/js/core/source/AppNavigation.js"></script>
<script src="/content/admin/js/core/source/AppOffcanvas.js"></script>
<script src="/content/admin/js/core/source/AppCard.js"></script>
<script src="/content/admin/js/core/source/AppForm.js"></script>
<script src="/content/admin/js/core/source/AppNavSearch.js"></script>
<script src="/content/admin/js/core/source/AppVendor.js"></script>
<script src="/content/admin/js/core/demo/Demo.js"></script>
<!-- END JAVASCRIPT -->
