﻿<div class="offcanvas">

    <!-- BEGIN OFFCANVAS SEARCH -->
    <div id="offcanvas-search" class="offcanvas-pane width-8">
        <div class="offcanvas-head">
            <span class="text-primary">Switch Admin</span>
            <div class="offcanvas-tools">
                <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                    <i class="md md-close"></i>
                </a>
            </div>
        </div>
        <div class="offcanvas-body no-padding">
            <ul class="list ">
                <li class="tile divider-full-bleed">
                    <div class="tile-content">
                        <div class="tile-text">
                            <a href="@Url.Content("/smartlearning/index")"><strong>Smart Learning</strong></a>
                        </div>
                    </div>
                </li>

                <li class="tile divider-full-bleed">
                    <div class="tile-content">
                        <div class="tile-text"><a href="@Url.Content("/smartjobs/index")"><strong>Smart Jobs</strong></a></div>
                    </div>
                </li>
            </ul>
        </div><!--end .offcanvas-body -->
    </div><!--end .offcanvas-pane -->
    <!-- END OFFCANVAS SEARCH -->
    <!-- BEGIN OFFCANVAS CHAT -->
    <div id="offcanvas-chat" class="offcanvas-pane style-default-light width-12">
        <div class="offcanvas-head style-default-bright">
            <header class="text-primary">Chat with Ann Laurens</header>
            <div class="offcanvas-tools">
                <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                    <i class="md md-close"></i>
                </a>
                <a class="btn btn-icon-toggle btn-default-light pull-right" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">
                    <i class="md md-arrow-back"></i>
                </a>
            </div>
            <form class="form">
                <div class="form-group floating-label">
                    <textarea name="sidebarChatMessage" id="sidebarChatMessage" class="form-control autosize" rows="1"></textarea>
                    <label for="sidebarChatMessage">Leave a message</label>
                </div>
            </form>
        </div>
        <div class="offcanvas-body">
            <ul class="list-chats">
                <li>
                    <div class="chat">
                        <div class="chat-avatar"><img class="img-circle" src="/content/admin/img/avatar1.jpg?1403934956" alt="" /></div>
                        <div class="chat-body">
                            Yes, it is indeed very beautiful.
                            <small>10:03 pm</small>
                        </div>
                    </div><!--end .chat -->
                </li>
                <li class="chat-left">
                    <div class="chat">
                        <div class="chat-avatar"><img class="img-circle" src="/content/admin/img/avatar9.jpg?1404026744" alt="" /></div>
                        <div class="chat-body">
                            Did you see the changes?
                            <small>10:02 pm</small>
                        </div>
                    </div><!--end .chat -->
                </li>
                <li>
                    <div class="chat">
                        <div class="chat-avatar"><img class="img-circle" src="/content/admin/img/avatar1.jpg?1403934956" alt="" /></div>
                        <div class="chat-body">
                            I just arrived at work, it was quite busy.
                            <small>06:44pm</small>
                        </div>
                        <div class="chat-body">
                            I will take look in a minute.
                            <small>06:45pm</small>
                        </div>
                    </div><!--end .chat -->
                </li>
                <li class="chat-left">
                    <div class="chat">
                        <div class="chat-avatar"><img class="img-circle" src="/content/admin/img/avatar9.jpg?1404026744" alt="" /></div>
                        <div class="chat-body">
                            The colors are much better now.
                        </div>
                        <div class="chat-body">
                            The colors are brighter than before.
                            I have already sent an example.
                            This will make it look sharper.
                            <small>Mon</small>
                        </div>
                    </div><!--end .chat -->
                </li>
                <li>
                    <div class="chat">
                        <div class="chat-avatar"><img class="img-circle" src="/content/admin/img/avatar1.jpg?1403934956" alt="" /></div>
                        <div class="chat-body">
                            Are the colors of the logo already adapted?
                            <small>Last week</small>
                        </div>
                    </div><!--end .chat -->
                </li>
            </ul>
        </div><!--end .offcanvas-body -->
    </div><!--end .offcanvas-pane -->
    <!-- END OFFCANVAS CHAT -->

</div>
