﻿@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SmartJobs Admin</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="/content/admin/css/theme-2/bootstrap.css?1422792965" />
    <link type="text/css" rel="stylesheet" href="/content/admin/css/theme-2/materialadmin.css?1425466319" />
    <link type="text/css" rel="stylesheet" href="/content/admin/css/theme-2/font-awesome.min.css?1422529194" />
    <link type="text/css" rel="stylesheet" href="/content/admin/css/theme-2/material-design-iconic-font.min.css?1421434286" />

    <link type="text/css" rel="stylesheet" href="/content/admin/css/theme-default/libs/DataTables/jquery.dataTables.css?1423553989" />
    <link type="text/css" rel="stylesheet" href="/content/admin/css/theme-default/libs/DataTables/extensions/dataTables.colVis.css?1423553990" />
    <link type="text/css" rel="stylesheet" href="/content/admin/css/theme-default/libs/DataTables/extensions/dataTables.tableTools.css?1423553990" />

    <style>
        .form-group .control-label {
            font-size: 12px;
            opacity: 1.0 !important;
            margin-bottom: 0;
        }
    </style>
    @RenderSection("customcss", false)
    <link href="@Url.Content("~/Content/admin/css/theme-1/libs/toastr/toastr.css")" rel="stylesheet" />
    <!-- END STYLESHEETS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/content/admin/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="/content/admin/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
    <script>
        var baseURL = '@System.Configuration.ConfigurationManager.AppSettings["ApiUrl"]';
        var remoteURL = '@System.Configuration.ConfigurationManager.AppSettings["RemoteApiUrl"]';
    </script>
</head>
<body class="menubar-hoverable header-fixed ">

    <!-- BEGIN HEADER-->
    @Html.Partial("_adminHeader")
    <!-- END HEADER-->
    <!-- BEGIN BASE-->
    <div id="base">

        <!-- BEGIN OFFCANVAS LEFT -->
        <div class="offcanvas">
        </div><!--end .offcanvas-->
        <!-- END OFFCANVAS LEFT -->
        <!-- BEGIN CONTENT-->
        @RenderBody()
        <!--end #content-->
        <!-- END CONTENT -->
        <!-- BEGIN MENUBAR-->
        @Html.Partial("_adminMenubar")
        <!--end #menubar-->
        <!-- END MENUBAR -->
        <!-- BEGIN OFFCANVAS RIGHT -->
        @Html.Partial("_adminOffCanvas")
        <!--end .offcanvas-->
        <!-- END OFFCANVAS RIGHT -->

    </div><!--end #base-->
    <!-- END BASE -->
    @Html.Partial("_adminScripts")
    @RenderSection("scripts", false)
</body>
</html>

