﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title Of Site -->
    <title>Smart Jobs - Job Portal </title>
    <meta name="description" content="HTML Responsive Landing Page Template for Job Portal Based on Twitter Bootstrap 3.x.x" />
    <meta name="keywords" content="job, work, resume, applicants, application, employee, employer, hire, hiring, human resource management, hr, online job management, company, worker, career, recruiting, recruitment" />
    <meta name="author" content="crenoveative">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <!-- Fav and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    <!-- CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="content/bootstrap/css/bootstrap.min.css" media="screen">
    <link href="content/css/animate.css" rel="stylesheet">
    <link href="content/css/main.css" rel="stylesheet">
    <link href="content/css/component.css" rel="stylesheet">

    <!-- CSS Font Icons -->
    <link rel="stylesheet" href="content/icons/linearicons/style.css">
    <link rel="stylesheet" href="content/icons/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="content/icons/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="content/icons/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="content/icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="content/icons/rivolicons/style.css">
    <link rel="stylesheet" href="content/icons/flaticon-line-icon-set/flaticon-line-icon-set.css">
    <link rel="stylesheet" href="content/icons/flaticon-streamline-outline/flaticon-streamline-outline.css">
    <link rel="stylesheet" href="content/icons/flaticon-thick-icons/flaticon-thick.css">
    <link rel="stylesheet" href="content/icons/flaticon-ventures/flaticon-ventures.css">
    <!-- CSS Custom -->
    <link href="content/css/style.css" rel="stylesheet">
    <link href="@Url.Content("~/content/toastr.min.css")" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var baseURL = '@System.Configuration.ConfigurationManager.AppSettings["ApiUrl"]';
    </script>
</head>

<body class="home">
    <div id="introLoader" class="introLoading"></div>

    <!-- start Container Wrapper -->
    <div class="container-wrapper">
        <!-- start Header -->
        @Html.Partial("_Header")
        <!-- start Main Wrapper -->
        <div class="main-wrapper">

            @RenderBody()

            @Html.Partial("_Footer")

        </div>
        <!-- end Main Wrapper -->
    </div> <!-- / .wrapper -->
    <!-- end Container Wrapper -->
    <!-- start Back To Top -->
    <div id="back-to-top">
        <a href="#"><i class="ion-ios-arrow-up"></i></a>
    </div>
    <!-- end Back To Top -->
    <!-- JS -->
    <script type="text/javascript" src="~/Content/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="content/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="content/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="content/js/bootstrap-modalmanager.js"></script>
    <script type="text/javascript" src="content/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="content/js/smoothscroll.js"></script>
    <script type="text/javascript" src="content/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="content/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="content/js/wow.min.js"></script>
    <script type="text/javascript" src="content/js/jquery.slicknav.min.js"></script>
    <script type="text/javascript" src="content/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="content/js/bootstrap-tokenfield.js"></script>
    <script type="text/javascript" src="content/js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="content/js/bootstrap3-wysihtml5.min.js"></script>
    <script type="text/javascript" src="content/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="content/js/jquery-filestyle.min.js"></script>
    <script type="text/javascript" src="content/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="content/js/ion.rangeSlider.min.js"></script>
    <script type="text/javascript" src="content/js/handlebars.min.js"></script>
    <script type="text/javascript" src="content/js/jquery.countimator.js"></script>
    <script type="text/javascript" src="content/js/jquery.countimator.wheel.js"></script>
    <script type="text/javascript" src="content/js/slick.min.js"></script>
    <script type="text/javascript" src="content/js/easy-ticker.js"></script>
    <script type="text/javascript" src="content/js/jquery.introLoader.min.js"></script>
    <script type="text/javascript" src="content/js/jquery.responsivegrid.js"></script>
    <script>
        (function ($) {
            // You pass-in jQuery and then alias it with the $-sign
            // So your internal code doesn't change
        })(jQuery);
    </script>
    <script type="text/javascript" src="content/js/customs.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript" src="~/Scripts/toastr.min.js"></script>
    @RenderSection("scripts", false)
</body>

</html>