﻿
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LA.cshtml";
}

<div id="content">
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
                <li>Home</li>
                <li class="active">Add Notification</li>
            </ol>
        </div>
        <div class="section-body contain-lg">
            <!-- BEGIN DEFAULT TABLE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-underline">
                        <div class="card-head">
                            <header class="text-default-dark">Add Notification</header>
                            <div class="tools">
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <a class="btn btn-info btn-sm" href="@Url.Content("~/notifications/sml-view")">View Notifications</a>
                                    </div>
                                    <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                                    <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                    <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" name="notif-form" id="notif-form" role="form">
                                <div class="form-group">
                                    <label for="default14" class="col-sm-2 control-label">User Group</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="UserGroup">
                                            <option value="1">All</option>
                                            <option value="2">Tutors</option>
                                            <option value="3">Students</option>
                                        </select> <div class="form-control-line"></div>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <label for="default14" class="col-sm-2 control-label">Choose User(s)</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="default14" placeholder="Users"><div class="form-control-line"></div>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label for="NotificationText" class="col-sm-2 control-label">Notification Text</label>
                                    <div class="col-sm-4">
                                        <textarea class="form-control" id="NotificationText"
                                                  name="NotificationText" placeholder="Notification Text"></textarea> <div class="form-control-line"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ShowFrom" class="col-sm-2 control-label">Show From</label>
                                    <div class="col-sm-3">
                                        <div class="input-group date" id="from-date">
                                            <div class="input-group-content">
                                                <input type="text" id="ShowFrom" name="ShowFrom" class="form-control">
                                            </div>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <div class="form-control-line"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ShowTill" class="col-sm-2 control-label">Show Till</label>
                                    <div class="col-sm-3">
                                        <div class="input-group date" id="to-date">
                                            <div class="input-group-content">
                                                <input type="text" id="ShowTill" name="ShowTill" class="form-control">
                                            </div>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <div class="form-control-line"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-sm-3">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .col -->
            </div><!--end .row -->
        </div><!--end .section-body -->
    </section>
</div>
@section customcss{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/content/admin/css/theme-default/libs/bootstrap-datepicker/datepicker3.css?1424887858")" />
}
@section scripts{
    <script src="@Url.Content("~/content/admin/js/libs/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/js/notif/add.js")"></script>
    <script>

        $(document).ready(function () {
            $('#sectionName').html("Smart Learning");
            $('#from-date,#to-date').datepicker({ todayHighlight: true, autoclose: true });
        });
    </script>
}
