﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LA.cshtml";
}
<div id="content">
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
                <li>Home</li>
                <li class="active">Notifications</li>
            </ol>
        </div>
        <div class="section-body contain-lg">
            <!-- BEGIN DEFAULT TABLE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-underline">
                        <div class="card-head">
                            <header class="text-default-dark">Notifications</header>
                            <div class="tools">
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <a class="btn btn-info btn-sm" href="@Url.Content("~/SmartLearning/notifications/add")">Add New</a>
                                    </div>
                                    <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                                    <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                    <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="list-notif" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Notification Text</th>
                                            <th>Show From</th>
                                            <th>Show Till</th>
                                            <th class="text-right">Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .col -->
            </div><!--end .row -->
        </div><!--end .section-body -->
    </section>
</div>
@section scripts{
    <script src="@Url.Content("~/js/notif/index.js")?@DateTime.Now.Ticks"></script>
    <script>
        $(document).ready(function () {
            $("#sectionName").html("Smart Learning");
        });
    </script>
}

