﻿@{ Layout = "~/Views/Shared/_LA.cshtml";}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#sectionName").html("Smart Learning");
        });
    </script>
}