﻿@{ Layout = "~/Views/Shared/_LA.cshtml";}
<div id="content">
    <section>
        <div class="section-body contain-lg">
            <!-- BEGIN DEFAULT TABLE -->
            <div class="row">
                <div class="col-md-6" style="cursor:pointer" onclick="javascript:window.location.href='/smartlearning/home/index'">
                    <div class="card card-bordered style-default-bright">
                        <div class="card-body">
                            <h1 class="text-center">Smart Learning</h1>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .col -->
                <div class="col-md-6">
                    <div class="card" style="cursor:pointer" onclick="javascript:window.location.href='/smartjobs/index'">
                        <div class="card-body style-default-bright">
                            <h1 class="text-center">Smart Jobs</h1>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div>
            </div>
        </div><!--end .section-body -->
    </section>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#menubar").hide();
        });
    </script>
}